<div class="container new-account">
  <div class="new-account-welcome mt-5">
    <p class="h1 text-center">Hi! <br> Please login and share your unforgettable
             experiences in Madagascar </p>    
  </div>
  <div class="new-account-form">
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.submit "Log into my account", class: "btn login-btn" %> 
      
    <% end %>

    <p class="text-center"><em>Don't have an account yet? Please follow 
    <%= link_to 'this link', new_user_path %><em></p>

  </div>
     
</div>