<div class="opinion-container">
  <div class="opinion-heading">
    <p class="h5">OPINIONS</p>
    <hr>
  </div>

  <div class="opinion-body ml-5">
    <div class="container">
        <%= form_with(local: true) do |f| %>
            
            <div class="form-group">
              <%= f.label :Share_something, class: "opinion-label" %>
              <%= f.text_field :text %>
            </div>
            
            <div class="form-group">
              <%= f.submit "Share", class: "opinion-sharing-button" %>
            </div>

        <% end %>
    </div>
  </div>

  <div class="opinion-list ml-5 mt-5">

    <div class="opinion-list-heading mb-2">
      <p class="h5"><%= @opinions.count %> New Opinions</p>
    </div>

    <% @opinions.each do | opinion | %>
      <% if @current_user.followings.include?(opinion.author) || @current_user.opinions.include?(opinion) %>
        <div class="opinions-info">
            <div class="opinions-info-left">
            <%= link_to profile_path(opinion.author) do %>
              <% if opinion.author.photo.attached? %>
                <%= image_tag opinion.author.photo, class: "opinion-img" %>
              <% else %>
                <%= image_tag("navigation/home.jpeg", class: "opinion-img")%> 
              <% end %>
             <% end %>
            </div>
            <div class="opinions-info-right">
              <h5><%= opinion.author.username %></h5>
              <p><%= opinion.text %></p>
            </div>
        </div>
      <% end %>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @opinions, :container => false %>
    </div>

  </div>

</div>

